In [15]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\usecase_3_.csv")

In [2]:
df.head()

,Unnamed: 0.1,Unnamed: 0,NCT Number,Study Title,Study URL,Acronym,Study Status,Brief Summary,Study Results,Conditions,...,Study Design,Other IDs,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents
0,75209,118014,NCT00559130,Efficacy Study of CytoSorb Hemoperfusion Devic...,https://clinicaltrials.gov/study/NCT00559130,NaN,COMPLETED,The hypothesis of this study is use of CytoSor...,NO,Acute Respiratory Distress Syndrome|Acute Lung...,...,Allocation: RANDOMIZED|Intervention Model: PAR...,2007-01,2007-11,2011-04,2011-06,2007-11-16,NaN,2011-06-07,"Aachen, Germany|Berlin, Germany|Bonn, Germany|...",NaN
1,6356,9987,NCT00937664,Safety and Tolerability Study of AZD7762 in Co...,https://clinicaltrials.gov/study/NCT00937664,NaN,TERMINATED,The primary purpose of this study is to find o...,NO,Cancer|Solid Tumors|Advanced Solid Malignancies,...,Allocation: NON_RANDOMIZED|Intervention Model:...,D1040C00008,2009-07,2011-02,2011-02,2009-07-13,NaN,2011-02-07,"Research Site, Minami-ku, Fukuoka, Japan",NaN
2,143427,226012,NCT00441597,Does Atorvastatin Reduce Ischemia-Reperfusion ...,https://clinicaltrials.gov/study/NCT00441597,NaN,COMPLETED,To study the impact of 3 day exposure to atorv...,NO,Ischemia Reperfusion Injury|Cardiovascular Dis...,...,Allocation: RANDOMIZED|Intervention Model: CRO...,atorv01,2007-02,2009-02,2009-03,2007-03-01,NaN,2009-03-17,"Radboud University Nijmegen Medical Centre, Ni...",NaN
3,138885,218952,NCT03296228,Comparison of Dynamic Radiographs in Determini...,https://clinicaltrials.gov/study/NCT03296228,NaN,COMPLETED,The purpose of this study is to identify the f...,NO,Adolescent Idiopathic Scoliosis,...,Observational Model: |Time Perspective: p,UW 16-208,2016-05-01,2018-05-01,2018-12-31,2017-09-28,NaN,2020-05-06,"Duchess of Kent Children's Hospital, Hong Kong...",NaN
4,9769,15382,NCT00421603,A Placebo-Controlled Study of Mixed Amphetamin...,https://clinicaltrials.gov/study/NCT00421603,TACT,COMPLETED,"The proposed protocol is a double-blind, place...",YES,Cocaine Dependence,...,Allocation: RANDOMIZED|Intervention Model: PAR...,#5368|R01DA022217,2007-02,2010-05,2010-05,2007-01-12,2013-02-28,2019-04-24,"STARS, New York, New York, 10032, United States",NaN

In [18]:
df.shape

(257577, 32)

In [19]:
df.nunique()

Unnamed: 0.1                  257577
Unnamed: 0                    257577
NCT Number                    257577
Study Title                   256885
Study URL                     257577
Acronym                        52454
Study Status                       4
Brief Summary                 256391
Study Results                      2
Conditions                    102973
Interventions                 198548
Primary Outcome Measures      244191
Secondary Outcome Measures    184792
Other Outcome Measures         18199
Sponsor                        26239
Collaborators                  35926
Sex                                3
Age                                6
Phases                             7
Enrollment                      6513
Funder Type                        9
Study Type                         2
Study Design                    1443
Other IDs                     254188
Start Date                      8049
Primary Completion Date         6925
Completion Date                 6981
First Posted                    5733
Results First Posted            3771
Last Update Posted              4637
Locations                     151996
Study Documents                25155
dtype: int64

In [5]:
df["NCT Number"].unique()

array(['NCT00559130', 'NCT00937664', 'NCT00441597', ..., 'NCT04996381',
       'NCT00380640', 'NCT01844336'], dtype=object)

In [7]:
import pandas as pd
df1 = pd.read_csv(r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\drop_withdrawals.txt", delimiter = "|")

In [3]:
df1

,id,nct_id,result_group_id,ctgov_group_code,period,reason,count,drop_withdraw_comment,reason_comment,count_units
0,5991139,NCT00827372,9120733,FG000,Overall Study,Adverse Event,5,NaN,NaN,NaN
1,5991140,NCT00827372,9120733,FG000,Overall Study,Lack of Efficacy,3,NaN,NaN,NaN
2,5991141,NCT01982760,9120734,FG000,Overall Study,Physician Decision,1,NaN,NaN,NaN
3,5991142,NCT01982760,9120735,FG001,Overall Study,Physician Decision,0,NaN,NaN,NaN
4,5991143,NCT01056276,9120736,FG000,Treatment Period-Cycles 1-8,Toxicity,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
487394,5893459,NCT00409838,8965265,FG001,Long-term Extension Period,Withdrawal by Subject,0,NaN,NaN,NaN
487395,5893460,NCT00409838,8965264,FG000,Long-term Extension Period,Poor compliance/noncompliance,1,NaN,NaN,NaN
487396,5893461,NCT00409838,8965265,FG001,Long-term Extension Period,Poor compliance/noncompliance,0,NaN,NaN,NaN
487397,5893462,NCT00409838,8965264,FG000,Long-term Extension Period,Pregnancy,1,NaN,NaN,NaN
487398,5893463,NCT00409838,8965265,FG001,Long-term Extension Period,Pregnancy,0,NaN,NaN,NaN

In [8]:
df1["period"].nunique()

8771

In [10]:
df1.period.value_counts(normalize=True)

period
Overall Study                              0.610293
Treatment Period                           0.009908
Period 1                                   0.005476
Period 2                                   0.004099
Phase 2                                    0.002920
                                             ...
Treatment With CpG-MCL Vaccine             0.000002
Baseline Phase-Usual Pancreatic Enzymes    0.000002
Microgynon+Faldaprevir                     0.000002
2 Weeks After Start Anti-fungal Therapy    0.000002
ACF Definitive Chemoradiation-cisplatin    0.000002
Name: proportion, Length: 8771, dtype: float64

In [6]:
pivot_table = pd.pivot_table(
    df1,
    values='count',          
    index=['period'],       
    columns=['result_group_id'],  
    aggfunc='count',          
    fill_value=0             
)

print(pivot_table)

result_group_id               8653914  8653917  8653918  8653919  8653920  \
period
0 to 30-day Post Treatment          0        0        0        0        0
0-12 Weeks                          0        0        0        0        0
0-6 Months                          0        0        0        0        0
0-6 Weeks                           0        0        0        0        0
001 (Pioglitazone) -3 Months        0        0        0        0        0
...                               ...      ...      ...      ...      ...
at the 4th Week of Follow-up        0        0        0        0        0
mCRC Expansion Phase                0        0        0        0        0
no Infusion at Week 1               0        0        0        0        0
the Double-blind Phase              0        0        0        0        0
the Open-label Phase                0        0        0        0        0

result_group_id               8653921  8653922  8653925  8653926  8653927  \
period
0 to 30-day Post Treatment          0        0        0        0        0
0-12 Weeks                          0        0        0        0        0
0-6 Months                          0        0        0        0        0
0-6 Weeks                           0        0        0        0        0
001 (Pioglitazone) -3 Months        0        0        0        0        0
...                               ...      ...      ...      ...      ...
at the 4th Week of Follow-up        0        0        0        0        0
mCRC Expansion Phase                0        0        0        0        0
no Infusion at Week 1               0        0        0        0        0
the Double-blind Phase              0        0        0        0        0
the Open-label Phase                0        0        0        0        0

result_group_id               ...  9393589  9393590  9394272  9394273  \
period                        ...
0 to 30-day Post Treatment    ...        0        0        0        0
0-12 Weeks                    ...        0        0        0        0
0-6 Months                    ...        0        0        0        0
0-6 Weeks                     ...        0        0        0        0
001 (Pioglitazone) -3 Months  ...        0        0        0        0
...                           ...      ...      ...      ...      ...
at the 4th Week of Follow-up  ...        0        0        0        0
mCRC Expansion Phase          ...        0        0        0        0
no Infusion at Week 1         ...        0        0        0        0
the Double-blind Phase        ...        0        0        0        0
the Open-label Phase          ...        0        0        0        0

result_group_id               9394274  9394277  9394278  9394284  9394285  \
period
0 to 30-day Post Treatment          0        0        0        0        0
0-12 Weeks                          0        0        0        0        0
0-6 Months                          0        0        0        0        0
0-6 Weeks                           0        0        0        0        0
001 (Pioglitazone) -3 Months        0        0        0        0        0
...                               ...      ...      ...      ...      ...
at the 4th Week of Follow-up        0        0        0        0        0
mCRC Expansion Phase                0        0        0        0        0
no Infusion at Week 1               0        0        0        0        0
the Double-blind Phase              0        0        0        0        0
the Open-label Phase                0        0        0        0        0

result_group_id               9394295
period
0 to 30-day Post Treatment          0
0-12 Weeks                          0
0-6 Months                          0
0-6 Weeks                           0
001 (Pioglitazone) -3 Months        0
...                               ...
at the 4th Week of Follow-up        0
mCRC Expansion Phase                0
no Infusion at Week 1               0
the Double-blind Phase              0
the Open-label Phase                0

[8771 rows x 101979 columns]

In [7]:
import pandas as pd

# Load the datasets
txt_file = r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\drop_withdrawals.txt"
csv_file = r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\usecase_3_.csv"

df_txt = pd.read_csv(txt_file, delimiter="|")
df_csv = pd.read_csv(csv_file)

# Select required columns from CSV
df_csv_subset = df_csv[['NCT Number', 'Study Status']]

# Perform the join
merged_df = pd.merge(
    df_txt, 
    df_csv_subset, 
    how="left", 
    left_on="nct_id", 
    right_on="NCT Number"
)

# Display the merged DataFrame
print(merged_df)

             id       nct_id  result_group_id ctgov_group_code  \
0       5991139  NCT00827372          9120733            FG000
1       5991140  NCT00827372          9120733            FG000
2       5991141  NCT01982760          9120734            FG000
3       5991142  NCT01982760          9120735            FG001
4       5991143  NCT01056276          9120736            FG000
...         ...          ...              ...              ...
487394  5893459  NCT00409838          8965265            FG001
487395  5893460  NCT00409838          8965264            FG000
487396  5893461  NCT00409838          8965265            FG001
487397  5893462  NCT00409838          8965264            FG000
487398  5893463  NCT00409838          8965265            FG001

                             period                         reason  count  \
0                     Overall Study                  Adverse Event      5
1                     Overall Study               Lack of Efficacy      3
2                     Overall Study             Physician Decision      1
3                     Overall Study             Physician Decision      0
4       Treatment Period-Cycles 1-8                       Toxicity      2
...                             ...                            ...    ...
487394   Long-term Extension Period          Withdrawal by Subject      0
487395   Long-term Extension Period  Poor compliance/noncompliance      1
487396   Long-term Extension Period  Poor compliance/noncompliance      0
487397   Long-term Extension Period                      Pregnancy      1
487398   Long-term Extension Period                      Pregnancy      0

        drop_withdraw_comment  reason_comment  count_units   NCT Number  \
0                         NaN             NaN          NaN  NCT00827372
1                         NaN             NaN          NaN  NCT00827372
2                         NaN             NaN          NaN          NaN
3                         NaN             NaN          NaN          NaN
4                         NaN             NaN          NaN  NCT01056276
...                       ...             ...          ...          ...
487394                    NaN             NaN          NaN          NaN
487395                    NaN             NaN          NaN          NaN
487396                    NaN             NaN          NaN          NaN
487397                    NaN             NaN          NaN          NaN
487398                    NaN             NaN          NaN          NaN

       Study Status
0         COMPLETED
1         COMPLETED
2               NaN
3               NaN
4         COMPLETED
...             ...
487394          NaN
487395          NaN
487396          NaN
487397          NaN
487398          NaN

[487399 rows x 12 columns]

In [8]:
pivot_table = pd.pivot_table(
    merged_df,
    values='count',          
    index=['period'],       
    columns=['Study Status'],  
    aggfunc='count',          
    fill_value=0             
)

print(pivot_table)

Study Status                  COMPLETED  SUSPENDED  TERMINATED
period
0 to 30-day Post Treatment            2          0           0
0-12 Weeks                           24          0           0
0-6 Months                           14          0           0
0-6 Weeks                             4          0           0
001 (Pioglitazone) -3 Months          5          0           0
...                                 ...        ...         ...
at the 4th Week of Follow-up          3          0           0
mCRC Expansion Phase                 24          0           0
no Infusion at Week 1                 8          0           0
the Double-blind Phase               42          0           0
the Open-label Phase                 42          0           0

[7174 rows x 3 columns]

In [17]:
sorted_pivot_table = pivot_table.sort_values(by='COMPLETED', ascending=False)

print(sorted_pivot_table)

Study Status                         COMPLETED  SUSPENDED  TERMINATED
period
Overall Study                           199409          9       31863
Treatment Period                          3193          0         237
Period 1                                  1994          0         248
Period 2                                  1590          0         168
Phase 2                                   1124          0         140
...                                        ...        ...         ...
Switch Over Period                           0          0          99
LP0084-1369                                  0          0           6
Interventional Phase (20 Weeks)              0          0           9
T2 Survey (Week 10-12)                       0          0           9
Optional Open-Label Phase - BHR-700          0          0           4

[7174 rows x 3 columns]

In [18]:
import pandas as pd

# Assuming 'sorted_pivot_table' is already created as per the earlier step
# Export to Excel
output_file = r"C:\Users\Siddhant Nijhawan\Downloads\NEST\new_excel111.xlsx"
sorted_pivot_table.to_excel(output_file)

print(f"Pivot table has been exported to: {output_file}")

Pivot table has been exported to: C:\Users\Siddhant Nijhawan\Downloads\NEST\new_excel111.xlsx

In [10]:
# Calculate the total for Terminated and Completed
total_terminated = pivot_table['TERMINATED'].sum()
total_completed = pivot_table['COMPLETED'].sum()

# Calculate the ratio
if total_completed > 0:  # To avoid division by zero
    terminated_completed_ratio = total_terminated / total_completed
else:
    terminated_completed_ratio = None  # Handle cases with no completed entries

print(f"Terminated/Completed Ratio: {terminated_completed_ratio}")

Terminated/Completed Ratio: 0.14774658776740562

In [14]:
df3=pd.read_csv(r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\reported_events.txt",delimiter="|")

In [15]:
df3

,id,nct_id,result_group_id,ctgov_group_code,time_frame,event_type,default_vocab,default_assessment,subjects_affected,subjects_at_risk,description,event_count,organ_system,adverse_event_term,frequency_threshold,vocab,assessment
0,111888450,NCT03978520,8932081,EG002,All-cause mortality is reported from enrollmen...,other,NaN,NaN,4.0,62,TEAEs and SAEs were collected from first dose ...,4.0,Psychiatric disorders,INSOMNIA,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
1,111888451,NCT03978520,8932082,EG003,All-cause mortality is reported from enrollmen...,other,NaN,NaN,0.0,69,TEAEs and SAEs were collected from first dose ...,0.0,Psychiatric disorders,INSOMNIA,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
2,111888452,NCT03978520,8932083,EG004,All-cause mortality is reported from enrollmen...,other,NaN,NaN,0.0,67,TEAEs and SAEs were collected from first dose ...,0.0,Psychiatric disorders,INSOMNIA,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
3,111888453,NCT03978520,8932079,EG000,All-cause mortality is reported from enrollmen...,other,NaN,NaN,1.0,75,TEAEs and SAEs were collected from first dose ...,2.0,Skin and subcutaneous tissue disorders,ACNE,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
4,111888454,NCT03978520,8932080,EG001,All-cause mortality is reported from enrollmen...,other,NaN,NaN,4.0,68,TEAEs and SAEs were collected from first dose ...,4.0,Skin and subcutaneous tissue disorders,ACNE,5,MedDRA 25.0,SYSTEMATIC_ASSESSMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9284462,117455296,NCT03535727,9370737,EG004,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,2.0,6,This study used the descriptions and grading s...,2.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT
9284463,117455297,NCT03535727,9370738,EG005,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,1.0,3,This study used the descriptions and grading s...,1.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT
9284464,117455298,NCT03535727,9370739,EG006,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,0.0,3,This study used the descriptions and grading s...,0.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT
9284465,117455299,NCT03535727,9370740,EG007,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,0.0,7,This study used the descriptions and grading s...,0.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT
9284466,117455300,NCT03535727,9370741,EG008,All-Cause Mortality was assessed for up to 51 ...,serious,NaN,NaN,2.0,8,This study used the descriptions and grading s...,2.0,Vascular disorders,Thromboembolic event,5,NaN,SYSTEMATIC_ASSESSMENT

In [10]:
df7["gender"].unique()

array(['FEMALE', 'ALL', 'MALE', nan], dtype=object)

In [18]:
result = df3[df3['nct_id'] == 'NCT00827372']

# Display the result
print(result)

                id       nct_id  result_group_id ctgov_group_code  \
3732534  114169692  NCT00827372          9120344            EG000
3732535  114169693  NCT00827372          9120344            EG000
3732536  114169694  NCT00827372          9120344            EG000
3732537  114169695  NCT00827372          9120344            EG000
3732538  114169696  NCT00827372          9120344            EG000
3732539  114169697  NCT00827372          9120344            EG000
3732540  114169698  NCT00827372          9120344            EG000
3732541  114169699  NCT00827372          9120344            EG000
3732542  114169700  NCT00827372          9120344            EG000
3732543  114169701  NCT00827372          9120344            EG000
3732544  114169702  NCT00827372          9120344            EG000
3732545  114169703  NCT00827372          9120344            EG000
3732546  114169704  NCT00827372          9120344            EG000
3732547  114169705  NCT00827372          9120344            EG000
3732548  114169706  NCT00827372          9120344            EG000
3732549  114169707  NCT00827372          9120344            EG000
3732550  114169708  NCT00827372          9120344            EG000
3732551  114169709  NCT00827372          9120344            EG000
3732552  114169710  NCT00827372          9120344            EG000
3732553  114169711  NCT00827372          9120344            EG000
3732554  114169712  NCT00827372          9120344            EG000
3732555  114169713  NCT00827372          9120344            EG000
3732556  114169714  NCT00827372          9120344            EG000
3732557  114169715  NCT00827372          9120344            EG000
3732558  114169716  NCT00827372          9120344            EG000
3732559  114169717  NCT00827372          9120344            EG000
3732560  114169718  NCT00827372          9120344            EG000
3732561  114169719  NCT00827372          9120344            EG000
3732562  114169720  NCT00827372          9120344            EG000
3732563  114169721  NCT00827372          9120344            EG000
3732564  114169722  NCT00827372          9120344            EG000
3732565  114169723  NCT00827372          9120344            EG000
3732566  114169724  NCT00827372          9120344            EG000
3732567  114169725  NCT00827372          9120344            EG000
3732568  114169726  NCT00827372          9120344            EG000
3732569  114169727  NCT00827372          9120344            EG000
3732570  114169728  NCT00827372          9120344            EG000
3732588  114169729  NCT00827372          9120344            EG000
3732589  114169730  NCT00827372          9120344            EG000

                                                time_frame event_type  \
3732534  Adverse Events are reported from the beginning...      other
3732535  Adverse Events are reported from the beginning...      other
3732536  Adverse Events are reported from the beginning...      other
3732537  Adverse Events are reported from the beginning...      other
3732538  Adverse Events are reported from the beginning...      other
3732539  Adverse Events are reported from the beginning...      other
3732540  Adverse Events are reported from the beginning...      other
3732541  Adverse Events are reported from the beginning...      other
3732542  Adverse Events are reported from the beginning...      other
3732543  Adverse Events are reported from the beginning...      other
3732544  Adverse Events are reported from the beginning...      other
3732545  Adverse Events are reported from the beginning...      other
3732546  Adverse Events are reported from the beginning...      other
3732547  Adverse Events are reported from the beginning...      other
3732548  Adverse Events are reported from the beginning...      other
3732549  Adverse Events are reported from the beginning...      other
3732550  Adverse Events are reported from the beginning...      other
3732551  Adverse Events are reported from the beginning...      other
3732552  Adverse Events are reported from the beginning...      other
3732553  Adverse Events are reported from the beginning...      other
3732554  Adverse Events are reported from the beginning...      other
3732555  Adverse Events are reported from the beginning...      other
3732556  Adverse Events are reported from the beginning...      other
3732557  Adverse Events are reported from the beginning...      other
3732558  Adverse Events are reported from the beginning...      other
3732559  Adverse Events are reported from the beginning...      other
3732560  Adverse Events are reported from the beginning...      other
3732561  Adverse Events are reported from the beginning...      other
3732562  Adverse Events are reported from the beginning...      other
3732563  Adverse Events are reported from the beginning...      other
3732564  Adverse Events are reported from the beginning...      other
3732565  Adverse Events are reported from the beginning...      other
3732566  Adverse Events are reported from the beginning...      other
3732567  Adverse Events are reported from the beginning...      other
3732568  Adverse Events are reported from the beginning...      other
3732569  Adverse Events are reported from the beginning...      other
3732570  Adverse Events are reported from the beginning...      other
3732588  Adverse Events are reported from the beginning...      other
3732589  Adverse Events are reported from the beginning...      other

         default_vocab  default_assessment  subjects_affected  \
3732534            NaN                 NaN                1.0
3732535            NaN                 NaN                5.0
3732536            NaN                 NaN                2.0
3732537            NaN                 NaN                6.0
3732538            NaN                 NaN                1.0
3732539            NaN                 NaN                4.0
3732540            NaN                 NaN                4.0
3732541            NaN                 NaN                1.0
3732542            NaN                 NaN                1.0
3732543            NaN                 NaN                6.0
3732544            NaN                 NaN                2.0
3732545            NaN                 NaN                8.0
3732546            NaN                 NaN                2.0
3732547            NaN                 NaN                1.0
3732548            NaN                 NaN                1.0
3732549            NaN                 NaN                7.0
3732550            NaN                 NaN                1.0
3732551            NaN                 NaN                1.0
3732552            NaN                 NaN                2.0
3732553            NaN                 NaN                3.0
3732554            NaN                 NaN                1.0
3732555            NaN                 NaN                1.0
3732556            NaN                 NaN                2.0
3732557            NaN                 NaN                1.0
3732558            NaN                 NaN                1.0
3732559            NaN                 NaN                4.0
3732560            NaN                 NaN                3.0
3732561            NaN                 NaN                3.0
3732562            NaN                 NaN                2.0
3732563            NaN                 NaN                1.0
3732564            NaN                 NaN                1.0
3732565            NaN                 NaN                7.0
3732566            NaN                 NaN                2.0
3732567            NaN                 NaN                3.0
3732568            NaN                 NaN                1.0
3732569            NaN                 NaN                3.0
3732570            NaN                 NaN                1.0
3732588            NaN                 NaN                1.0
3732589            NaN                 NaN                1.0

         subjects_at_risk                                        description  \
3732534                10  There were no serious adverse events entered i...
3732535                10  There were no serious adverse events entered i...
3732536                10  There were no serious adverse events entered i...
3732537                10  There were no serious adverse events entered i...
3732538                10  There were no serious adverse events entered i...
3732539                10  There were no serious adverse events entered i...
3732540                10  There were no serious adverse events entered i...
3732541                10  There were no serious adverse events entered i...
3732542                10  There were no serious adverse events entered i...
3732543                10  There were no serious adverse events entered i...
3732544                10  There were no serious adverse events entered i...
3732545                10  There were no serious adverse events entered i...
3732546                10  There were no serious adverse events entered i...
3732547                10  There were no serious adverse events entered i...
3732548                10  There were no serious adverse events entered i...
3732549                10  There were no serious adverse events entered i...
3732550                10  There were no serious adverse events entered i...
3732551                10  There were no serious adverse events entered i...
3732552                10  There were no serious adverse events entered i...
3732553                10  There were no serious adverse events entered i...
3732554                10  There were no serious adverse events entered i...
3732555                10  There were no serious adverse events entered i...
3732556                10  There were no serious adverse events entered i...
3732557                10  There were no serious adverse events entered i...
3732558                10  There were no serious adverse events entered i...
3732559                10  There were no serious adverse events entered i...
3732560                10  There were no serious adverse events entered i...
3732561                10  There were no serious adverse events entered i...
3732562                10  There were no serious adverse events entered i...
3732563                10  There were no serious adverse events entered i...
3732564                10  There were no serious adverse events entered i...
3732565                10  There were no serious adverse events entered i...
3732566                10  There were no serious adverse events entered i...
3732567                10  There were no serious adverse events entered i...
3732568                10  There were no serious adverse events entered i...
3732569                10  There were no serious adverse events entered i...
3732570                10  There were no serious adverse events entered i...
3732588                10  There were no serious adverse events entered i...
3732589                10  There were no serious adverse events entered i...

         event_count                                     organ_system  \
3732534          1.0                                    Eye disorders
3732535          5.0                       Gastrointestinal disorders
3732536          2.0                       Gastrointestinal disorders
3732537          6.0                       Gastrointestinal disorders
3732538          1.0                       Gastrointestinal disorders
3732539          4.0                       Gastrointestinal disorders
3732540          4.0                       Gastrointestinal disorders
3732541          1.0                       Gastrointestinal disorders
3732542          1.0                       Gastrointestinal disorders
3732543          6.0                       Gastrointestinal disorders
3732544          2.0                       Gastrointestinal disorders
3732545          8.0                                General disorders
3732546          2.0                                General disorders
3732547          1.0                                General disorders
3732548          1.0                                   Investigations
3732549          7.0               Metabolism and nutrition disorders
3732550          1.0  Musculoskeletal and connective tissue disorders
3732551          1.0  Musculoskeletal and connective tissue disorders
3732552          2.0  Musculoskeletal and connective tissue disorders
3732553          3.0  Musculoskeletal and connective tissue disorders
3732554          1.0  Musculoskeletal and connective tissue disorders
3732555          1.0  Musculoskeletal and connective tissue disorders
3732556          2.0                         Nervous system disorders
3732557          1.0                         Nervous system disorders
3732558          1.0                         Nervous system disorders
3732559          4.0                            Psychiatric disorders
3732560          3.0                            Psychiatric disorders
3732561          3.0  Respiratory, thoracic and mediastinal disorders
3732562          2.0  Respiratory, thoracic and mediastinal disorders
3732563          1.0  Respiratory, thoracic and mediastinal disorders
3732564          1.0           Skin and subcutaneous tissue disorders
3732565          7.0           Skin and subcutaneous tissue disorders
3732566          2.0           Skin and subcutaneous tissue disorders
3732567          3.0           Skin and subcutaneous tissue disorders
3732568          1.0           Skin and subcutaneous tissue disorders
3732569          3.0           Skin and subcutaneous tissue disorders
3732570          1.0           Skin and subcutaneous tissue disorders
3732588          1.0                               Vascular disorders
3732589          1.0                               Vascular disorders

                                        adverse_event_term  \
3732534                              VISION-BLURRED VISION
3732535  MUCOSITIS/STOMATITIS (CLINICAL EXAM) - ORAL CA...
3732536                                       CONSTIPATION
3732537                                           DIARRHEA
3732538                                         FLATULENCE
3732539                                HEARTBURN/DYSPEPSIA
3732540                                             NAUSEA
3732541                                 PAIN - ABDOMEN NOS
3732542                                   PAIN - ORAL-GUMS
3732543                       TASTE ALTERATION (DYSGEUSIA)
3732544                                           VOMITING
3732545              FATIGUE (ASTHENIA, LETHARGY, MALAISE)
3732546  FEVER (IN THE ABSENCE OF NEUTROPENIA, WHERE NE...
3732547                             SWEATING (DIAPHORESIS)
3732548                               ALKALINE PHOSPHATASE
3732549                                           ANOREXIA
3732550  INFECTION WITH NORMAL ANC OR GRADE 1 OR 2 NEUT...
3732551  INFECTION WITH NORMAL ANC OR GRADE 1 OR 2 NEUT...
3732552                              PAIN - EXTREMITY-LIMB
3732553                                       PAIN - JOINT
3732554                                        PAIN - NECK
3732555                                        PAIN - BACK
3732556                                NEUROPATHY: SENSORY
3732557                               PAIN - HEAD/HEADACHE
3732558                  PAIN - NEURALGIA/PERIPHERAL NERVE
3732559                                           INSOMNIA
3732560                       MOOD ALTERATION - DEPRESSION
3732561                                              COUGH
3732562                      DYSPNEA (SHORTNESS OF BREATH)
3732563  INFECTION WITH NORMAL ANC OR GRADE 1 OR 2 NEUT...
3732564             DERMATOLOGY/SKIN - OTHER (SPECIFY, __)
3732565                 HAIR LOSS/ALOPECIA (SCALP OR BODY)
3732566                                   HYPOPIGMENTATION
3732567                                   PRURITUS/ITCHING
3732568                                  RASH/DESQUAMATION
3732569                               RASH: ACNE/ACNEIFORM
3732570  RASH: ERYTHEMA MULTIFORME (E.G., STEVENS-JOHNS...
3732588                                HOT FLASHES/FLUSHES
3732589                                       HYPERTENSION

         frequency_threshold             vocab                 assessment
3732534                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732535                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732536                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732537                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732538                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732539                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732540                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732541                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732542                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732543                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732544                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732545                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732546                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732547                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732548                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732549                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732550                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732551                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732552                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732553                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732554                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732555                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732556                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732557                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732558                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732559                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732560                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732561                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732562                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732563                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732564                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732565                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732566                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732567                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732568                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732569                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732570                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732588                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT
3732589                    5  MedDRA version 9  NON_SYSTEMATIC_ASSESSMENT

In [1]:
import pandas as pd
df5=pd.read_csv(r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\facilities.txt",sep="|")
df5

,id,nct_id,status,name,city,state,zip,country
0,39182239,NCT02696421,RECRUITING,Imperial College London Diabetes Centre,Abu Dhabi,NaN,48338,United Arab Emirates
1,39182240,NCT01324414,NaN,Mayo Clinic,Phoenix,Arizona,85054,United States
2,39182241,NCT02595814,NaN,Novartis Investigative Site,San Diego,California,92103,United States
3,39182242,NCT02595814,NaN,Novartis Investigative Site,San Francisco,California,94143-0780,United States
4,39182243,NCT02595814,NaN,Novartis Investigative Site,Chicago,Illinois,60611,United States
...,...,...,...,...,...,...,...,...
3085459,39182234,NCT05770505,NaN,Norwegian University of Science and Technology...,Trondheim,NaN,7006,Norway
3085460,39182235,NCT00127790,NaN,University of Rochester Sleep Research Laboratory,Rochester,New York,14642,United States
3085461,39182236,NCT02577705,NaN,Drexel University School of Public Health,Philadelphia,Pennsylvania,19104,United States
3085462,39182237,NCT01518205,NaN,universita Verona,Verona,NaN,37100,Italy
3085463,39182238,NCT05600790,NaN,Peking University,Beijing,Beijing,100871,China

In [5]:
df5["name"].nunique()

712310

In [15]:
df5["state"].nunique()

16583

In [16]:
df5["country"].nunique()

222

In [2]:
import pandas as pd
df6=pd.read_csv(r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\drop_withdrawals.txt",sep="|")

In [3]:
df6

,id,nct_id,result_group_id,ctgov_group_code,period,reason,count,drop_withdraw_comment,reason_comment,count_units
0,5991139,NCT00827372,9120733,FG000,Overall Study,Adverse Event,5,NaN,NaN,NaN
1,5991140,NCT00827372,9120733,FG000,Overall Study,Lack of Efficacy,3,NaN,NaN,NaN
2,5991141,NCT01982760,9120734,FG000,Overall Study,Physician Decision,1,NaN,NaN,NaN
3,5991142,NCT01982760,9120735,FG001,Overall Study,Physician Decision,0,NaN,NaN,NaN
4,5991143,NCT01056276,9120736,FG000,Treatment Period-Cycles 1-8,Toxicity,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
487394,5893459,NCT00409838,8965265,FG001,Long-term Extension Period,Withdrawal by Subject,0,NaN,NaN,NaN
487395,5893460,NCT00409838,8965264,FG000,Long-term Extension Period,Poor compliance/noncompliance,1,NaN,NaN,NaN
487396,5893461,NCT00409838,8965265,FG001,Long-term Extension Period,Poor compliance/noncompliance,0,NaN,NaN,NaN
487397,5893462,NCT00409838,8965264,FG000,Long-term Extension Period,Pregnancy,1,NaN,NaN,NaN
487398,5893463,NCT00409838,8965265,FG001,Long-term Extension Period,Pregnancy,0,NaN,NaN,NaN

In [4]:
df6.nunique()

id                       487399
nct_id                    39725
result_group_id          101979
ctgov_group_code             47
period                     8771
reason                    27370
count                      1033
drop_withdraw_comment         0
reason_comment                0
count_units                   0
dtype: int64

In [6]:
df7=pd.read_csv(r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\eligibilities.txt",sep="|")

In [7]:
df7

,id,nct_id,sampling_method,gender,minimum_age,maximum_age,healthy_volunteers,population,criteria,gender_description,gender_based,adult,child,older_adult
0,6260055,NCT05050916,NaN,FEMALE,19 Years,40 Years,f,NaN,* INCLUSION CRITERIA:~In order to be eligible ...,NaN,NaN,t,f,f
1,6260056,NCT01092156,NaN,FEMALE,18 Years,NaN,t,NaN,Inclusion Criteria:~* Pregnant women who inten...,NaN,NaN,t,f,t
2,6260057,NCT01218256,NaN,ALL,30 Years,80 Years,f,NaN,Inclusion Criteria:~* type 2 diabetes mellitus...,NaN,NaN,t,f,t
3,6260058,NCT03240432,NaN,ALL,60 Years,NaN,t,NaN,Inclusion Criteria:~To be eligible for the stu...,NaN,NaN,t,f,t
4,6260059,NCT04348578,NaN,ALL,18 Years,65 Years,t,NaN,"Inclusion Criteria:~* necrotic, single root te...",NaN,NaN,t,f,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502296,6259966,NCT02723058,NaN,FEMALE,18 Years,NaN,f,NaN,Inclusion Criteria:~* Mothers who are residing...,NaN,NaN,t,f,t
502297,6259967,NCT05832216,NaN,ALL,12 Years,NaN,f,NaN,Inclusion Criteria:~* Diagnosis of aplastic an...,NaN,NaN,t,t,t
502298,6259968,NCT05199597,NaN,ALL,18 Years,NaN,t,NaN,Inclusion Criteria:~* 18 years and older~Exclu...,NaN,NaN,t,f,t
502299,6259969,NCT01583283,NaN,ALL,18 Years,NaN,f,NaN,Inclusion Criteria:~* Relapsed or Relapsed/Ref...,NaN,NaN,t,f,t
502300,6259970,NCT01394783,NaN,ALL,NaN,1 Year,f,NaN,Inclusion Criteria:~* Trainees: All residents ...,NaN,NaN,f,t,f

In [8]:
df7.nunique()

id                    502301
nct_id                502301
sampling_method            2
gender                     3
minimum_age              322
maximum_age              482
healthy_volunteers         2
population            106911
criteria              497047
gender_description      7020
gender_based               1
adult                      2
child                      2
older_adult                2
dtype: int64

In [11]:
df7["gender_description"].unique()

array([nan, 'pregnant women', 'Breast cancer', ...,
       'Employee health program inclusive of all gender and non-binary descriptions.',
       'Fibromyalgia Syndrome is more common in women than in men. For this reason, we predicted that there might be inequality in the distribution of male/female in the participant group included.~Physical activity level and psychiatric scales may differ between genders.',
       'Must have documented evidence of pregnancy'], dtype=object)

In [12]:
df7["gender_based"].unique()

array([nan, 't'], dtype=object)

In [1]:
import os
import pandas as pd

# Define the file paths
file_paths = [
    r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\reported_events.txt",
    r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\facilities.txt",
    r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\drop_withdrawals.txt"
]

# Create a new directory for the output files
output_dir = r"C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\ConvertedFiles"
os.makedirs(output_dir, exist_ok=True)

# Convert each file to CSV
for file_path in file_paths:
    # Read the file into a DataFrame
    df = pd.read_csv(file_path, delimiter='|')
    
    # Extract the base filename and replace extension
    base_name = os.path.basename(file_path).replace('.txt', '.csv')
    
    # Define the output path
    output_path = os.path.join(output_dir, base_name)
    
    # Save DataFrame as CSV
    df.to_csv(output_path, index=False)
    print(f"Converted {file_path} to {output_path}")

Converted C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\reported_events.txt to C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\ConvertedFiles\reported_events.csv
Converted C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\facilities.txt to C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\ConvertedFiles\facilities.csv
Converted C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\drop_withdrawals.txt to C:\Users\Siddhant Nijhawan\Downloads\NEST\Problem Statements and Data Sets\ConvertedFiles\drop_withdrawals.csv